/* Variables */
:root {
    --font-oswald: "Oswald", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-roboto-condensed: "Roboto Condensed", sans-serif;
    --color-background: #F7F9F9;
    --color-title-text: #00000f;
    --color-text: #000f0f;
    --font-console: "Inconsolata", monospace;
  }
  
  /* Estilos globales */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Estilos header */
  header .header, .subcontainer-header {
    width: 100%;
    height: 100vh;
  }
  
  .container-icon-logo, .container-scroll, .container-separator, .container-icon {
    width: 100%;
    display: flex;
  }
  
  .sticky {
    position: fixed;
  }
  
  .pulsacio {
    animation: scale-up-center 0.75s ease-in-out infinite alternate none;
  }
  
  .subcontainer-title-pag, .container-nav-url {
    width: 20%;
  }
  
  .subcontainer-scroll, .subcontainer-icon {
    width: 40%;
  }
  
  .content-btn {
    width: 37.3px;
    height: 37.3px;
  }
  
  .container-nav {
    width: 100%;
    height: 100vh;
    z-index: 5;
    background: linear-gradient(90deg, rgba(212, 230, 241, 1) 48%, rgba(247, 249, 249, 1) 51%, rgba(247, 249, 249, 1) 100%);
    position: fixed;
    display: flex;
    flex-direction: row;
  }
  
  .container-contact, .container-nav-url {
    width: 50%;
    height: 100vh;
  }
  
  .container-links {
    width: 100%;
    height: 100%;
  }
  
  .container-links h3 {
    text-align: center;
    font-size: 30px;
    color: var(--color-title-text);
    font-family: var(--font-console);
    padding: 20px 0;
  }
  
  .container-links .container-emal h3 a {
    text-decoration: none;
    color: var(--color-title-text);
    font-family: var(--font-console);
    font-weight: 500;
    padding: 20px 0;
    text-align: center;
    text-decoration: underline;
  }
  
  .container-links .container-redes a {
    font-size: 25px;
    color: var(--color-text);
    text-decoration: underline;
    font-family: var(--font-console);
    font-weight: 500;
    padding: 5px;
  }
  
  .container-redes img {
    width: 20px;
    height: 20px;
  }
  
  .container-nav-url {
    background-color: #D4E6F1;
  }
  
  .cortina, .cortina-rigth {
    animation: scale-up-hor-right 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  
  .content-nav h4 {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    color: var(--color-title-text);
  }
  
  .content-nav .nav, .nav ul li {
    text-align: center;
    color: var(--color-text);
    list-style: none;
    font-family: var(--font-console);
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    font-size: 23.4px;
    font-weight: 700;
    font-family: var(--font-console);
  }
  
  .active, .active-close {
    display: none;
  }
  
  .container-items-header, .container-items-h {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .maquina-escribir {
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    animation: maquinaEscribir 3s steps(60) infinite;
  }
  
  /* Estilos main */
  .section-hacemos, .nosotros-main, .socios {
    width: 100%;
    height: 100vh;
  }
  
  .container-hacemos, .container-nosotros, .container-socios {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .container-title-hacemos, .content-title, .content-title p {
    text-align: center;
  }
  
  .container-title-hacemos h2, .content-title h2 {
    color: var(--color-title-text);
    font-size: 37px;
    font-family: var(--font-console);
  }
  
  .container-title-hacemos p, .content-title p {
    color: var(--color-text);
    font-size: 20px;
    font-family: var(--font-console);
  }
  
  .container-item-main, .container-items, .subcontainer-items-header, .subcontainer-item-main, .subcontainer-nosotros, .subcontainer-socios {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .content-items-main, .content-items-main:hover {
    width: 23.8%;
    height: 78.6%;
    margin: 17.5px;
    border: solid 2.5px #D5D8DC;
    border-radius: 10px;
    background-color: #D4E6F1;
  }
  
  .item-main, .subcontent-item, .content-img, .content-img-main, .content-item-nosotros, .cont-socios, .cotent-item-technology, .subcontent-item-technology {
    width: 100%;
    height: 100%;
  }
  
  .container-item-technology, .container-item-technology {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .subcontainer-item-technology, .container-item-technology {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #D4E6F1;
    border-radius: 10px;
  }
  
  /* Diseño responsive */
  @media screen and (max-width: 768px) {
    .container-nav {
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;
      align-items: center;
      justify-content: flex-start;
    }
  
    .container-nav-url {
      width: 100%;
    }
  
    .container-contact {
      width: 100%;
    }
  
    .container-items-header, .container-items-h {
      height: 50%;
    }
  
    .content-items-main {
      width: 47%;
      height: 40%;
      margin: 5px;
    }
  
    .content-title h2 {
      font-size: 25px;
    }
  
    .content-title p {
      font-size: 15px;
    }
  }
  
  /* Animaciones */
  @keyframes maquinaEscribir {
    0% {
      width: 0;
    }
  
    50% {
      width: 50%;
    }
  
    100% {
      width: 100%;
    }
  }
  
  @keyframes scale-up-center {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.2);
    }
  }
  
  @keyframes scale-up-hor-right {
    0% {
      transform: scaleX(0);
      transform-origin: 100% 50%;
    }
  
    100% {
      transform: scaleX(1);
      transform-origin: 0 50%;
    }
  }
  